.the{
    font-size: 50px;
}
.ultimate{
    font-size: 50px;
}

.quick {
    font-size: 50px;
}
.orange{
    display: flex;
}
.black{
    padding-left: 20%;
}

.black{

}
.bigshoe{
    display: flex;
}
.new{
    text-align: center;
}
.test{
    color: red;
}
.WORD{
   margin-right: 20px;
}

.peopleSay{
    display: flex;
}
.body{
    background-color: whitesmoke;

}
#myemail{
    padding: 10px;
}
.dolar{
    display: flex;
    justify-content: space-around;
    background-color: crimson;
}